@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');  
body{
    background-color: #f4f4f4;
}
#h1{
    font-family: 'DM Serif Display', serif;
}
.container{
    background-color: white;
    margin: 50px auto;
    height: 400px;
    width: 300px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form{
    margin: 10px;
}
form #txt1{
    padding: 10px;
    margin-bottom: 10px;
}
#checkBtn{
    padding: 10px;
}
#txt2{
    font-size: 50px;
    color: blue ;
}